Conversation-Chatbot-Session.json
{
  "name": "Conversation-Chatbot-Session",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "options": {
          "responseMode": "responseNodes"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        0,
        0
      ],
      "id": "0d010750-6b58-4e74-a287-2e4d62398bb3",
      "name": "When chat message received",
      "webhookId": "7df0bc90-cb08-4b21-8c25-990fcac9f8b9"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are a helpful assistant"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        208,
        0
      ],
      "id": "f13be235-58ab-4ed3-8bef-1515bfdb814f",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        176,
        208
      ],
      "id": "083c7cf5-649b-4920-92d3-2331a25bd5b8",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "64uqKGi3fmthlk7u",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('When chat message received').item.json.sessionId }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        304,
        176
      ],
      "id": "85a42e2a-d2b9-4690-8bfe-fc59ff590004",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "message": "={{ $json.output }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1.3,
      "position": [
        560,
        0
      ],
      "id": "36e4fe97-d893-414e-a211-841a819eda66",
      "name": "Chat",
      "webhookId": "cdd8feb7-9b02-4479-8a3d-812e39160759"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "a7150f78-34b1-4a16-88ff-c07f4e339285",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f8945e1676b80d29b396e19cfc031fd1282160af6898890d6372b6d47bd9e91f"
  },
  "id": "ewfyFaoO5QgARQvV",
  "tags": []
}